

.table-container{
    /* border: 1px solid rgb(167, 163, 163);
    border-radius: 4px; */
}

.table-row:hover{
    /* background-color: #446a8d; */
}
.table-row{
    border-radius: 8px;
    border :0px ;
}
.table-header > tr{
     background-color: #27649c !important;
}

